
    body {
        background-image: url("media/back1.png");
        background-size: cover;
     }

     #topbanner {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
     }
  

   #startBtn {
    position: absolute;
    width: 60%;
    top: 40%;
    left: 20%;
   }

   #pageheader {
    width: 60%;
    position: absolute;
    top: 105%;
    left: 20%;
   }

   .pageBtn {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 15%;
   }

   #pageBtn1 {
    top: 120%;
   }

   #pageBtn2 {
    top: 140%;
   }

   #pageBtn3 {
    top: 160%;
   }

   #pageBtn4 {
    top: 180%;
    
   }

   html {
    scroll-behavior: smooth;
    transition-duration: 50s;
  }
   
  #section1 {
    height: 850px;
    
  }
   
  #section2 {
    height: 850px;
    
  }